      <a href="/">Home</a>
      <h2>Edit Post</h2>
  		<form method="post" action="/edit_post/<%=@post.id%>">
  			<input type="text" name="post[title]" placeholder ="Edit your title" value="<%=@post.title%>"><br>
  			<textarea rows="20" cols="50"type="text" name = "post[body]" placeholder="Edit your post here!" ><%=@post.blog%></textarea>
  			<input type="submit" value="Edit">
  		</form>
